@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap");
:root {
  --foreground-rgb: 23, 45, 100;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
@layer base {
  html {
    @apply bg-white;
    @apply text-neutral-900;
  }
  html.dark {
    @apply text-neutral-100;
    @apply bg-neutral-900;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
